.main-admin {
  /* padding-top: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background: red; */
  height: 400px; }

.aside-admin {
  width: 400px;
  height: 400px; }

.main-content {
  width: 75vw; }

main {
  height: 400px;
  background: red; }
