.mainAfiliate-content{
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  width: 75%;
  padding: 1em;
}

.btnAgregarAfiliateBeneficio{
  background: var(--color--adicional);
  padding: .5em 1em;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  transition: all .5s;
  cursor: pointer;
  &:hover{
    background: var(--alternate-modal-color);
  }
}
.formsAfiliados{
  padding: .5em;
}
.formAfiliateBeneficioNuevo, .formAfiliateBeneficioEditar{
  margin-top: .5em;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  padding: .5em;
}

.title-form{
  color: green;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;

}

.contentTitleContAfiliateBeneficio{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inpAfiliateBeneficioTitleNuevo-content, .inpAfiliateBeneficioContenidoNuevo-content, .inpAfiliateBeneficioTitleEditar-content, .inpAfiliateBeneficioContenidoEditar-content{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  label{
    color: var(--alternate-modal-color);
    font-size: 1.2em;
    font-weight: 600;
  }
}

.inpAfiliateBeneficioTitleNuevo, .inpAfiliateBeneficioTitleEditar{
  padding: .5em;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  font-size: 1em;
  color: #aaaaaa;
}
.inpGuardarAfiliateBeneficio-content{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inpGuardarAfiliateBeneficio{
  padding: .5em;
  background: var(--color--adicional);
  color: white;
  border:none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    background: var(--alternate-modal-color);
  }
}


.containerPortadaAfiliate{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  border-radius: 5px;
  box-shadow: 2px 5px 15px #ccc;
  img{
    width: 50%;
    display: block;
  }
  .presentacion-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: .5em;
  }
  .presentacion__title{
    font-size: 1.2em;
    color: #aaaaaa;
  }
  .presentacion__subtitle{
    font-size: .8em;
    color: #aaaaaa;
  }
}
.containerContenidoAfiliate{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  border-radius: 5px;
  box-shadow: 2px 5px 15px #ccc;
  .afilitate-info__content{

  }
  .afilitate-title{

  }
  .afilitate-info__parrafo{

  }
  .afiliate__info-video{

  }
  .video-responsive{

  }
}
.containerBeneficiosAfiliate, .containerPreguntasAfiliate{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: .5em;
  border-radius: 5px;
  box-shadow: 2px 5px 15px #ccc;
  h5{
    font-size: 1.5em;
    color: #aaaaaa;
  }

  p{
    font-size: .8em;
    color: #333;

  }
}
.containerPreguntasAfiliate{
  .contentPreguntasSubtitle{
    h6{
      font-size: 1.1em;
      color: #aaaaaa;
    }
  }
}

.containerAccionesPaginaAfiliate{
  position: absolute;
  top: .5em;
  right: .5em;
}

.contentInputsPasos{
  position:relative;
  display:flex;
  padding:.5em;
  box-shadow: 2px 5px 15px #ccc;
  border-radius: 5px;
  margin-bottom:.5em;

  .btnEliminarPregunta, .btnEliminarBeneficios{
    position:absolute;
    top:.2em;
    right:.2em;
  }
}
