.mainPedir-content{
  width: 75%;
  padding: 1em;
  border: 2px solid #aaa;
  border-radius: 5px;
  .title-form{
    font-size: 1.2em;
    color: var(--alternate-modal-color);
    text-align: center;
  }
}

.btnAgregarPedir-content{
  width: 100%;
  display: flex;
}
.btnAgregarPedir{
  background: var(--color--adicional);
  padding: .5em 1em;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  transition: all .5s;
  cursor: pointer;
  &:hover{
    background: var(--alternate-modal-color);
  }
}

.formsPedir{
  padding: .5em;
}




.titleVideoPedir{
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .2em;
}

.inpGuardarPedirTitle-content, .inpEditarPedirTitle-content{
  padding-top: .5em;
  width: 48%;
  .inpGuardarPedirTitle, .inpEditarPedirTitle{
    width: 100%;
    padding: .5em;
    border: 2px solid #aaa;
    border-radius: 5px;
  }
}

.GuardarPedirVideo-content, .EditarPedirVideo-content{
  width: 50%;
}

.inpGroupGuardarPedirPaso-content, .inpGroupEditarPedirPaso-content{
  padding: .5em;
  border: 2px solid #aaa;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: .2em;
}

.inpNumberPedirPaso, .textareaNumberPedirPaso{
  padding: .5em;
  border: 2px solid #aaa;
  border-radius: 5px;
}
.inpNumberPedirPaso{
  width: 8%;
  padding-right:.5em;
}
.textareaNumberPedirPaso{
  width: 90%;
  padding-left:.5em;
}

.btnInputGuardarPedir, .btnInputEditarPedir{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inpBtnGuardarPedir, .inpBtnEditarPedir{
  margin: .5em 0 .5em 0;
  padding: .5em;
  border: none;
  border-radius: 5px;
  background: var(--color--adicional);
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  transition: all .5s;
  &:hover{
    background: var(--alternate-modal-color);
  }
}

.title__editarPedir{
  color: #aaa;
}

.pedir-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pedir-content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 15px #ccc;
    border-radius: 5px;
    padding: .5em;
  }
  .pedir__video-container{
    flex-basis: 25%;
  }
  .pedir__video{

  }
  .pedir__title-content{
    flex-basis: 25%;
  }
  .pedir__title{
    font-size: 1em;
    color: #aaa;
  }
  .pedir__pasos-content{

  }
  .pedir__pasos__title-content{

  }
  .pedir__pasos__title{
    font-size: 1.5em;
    color: #aaa;
  }
  .pedir__pasos__parrafo-container{
    flex-basis: 50%;

  }
  .pedir__pasos__parrafo-content{
    display: flex;
  }
  .pedir__pasos__number{
    font-size: 1.2em;
    color: #777;
    padding: .2em;
  }
  .pedir__pasos__parrafo{
    font-size: .8em;
    color: #666;
  }
}